<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
namespace就是用来隔离sql语句的
-->
<mapper namespace="com.ssm.mapper.UserMapper" >
    <resultMap id="BaseUserMap" type="user">
        <id column="user_id" property="userId"/>
        <result column="user_account" property="userAccount"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="headimageurl" property="headImageUrl"/>
        <result column="mobile_number" property="mobileNumber"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="sex" property="sex"/>
        <result column="modify_user_id" property="modifyUserId"/>
    </resultMap>

    <select id="loginId" resultMap="BaseUserMap">
        select * from sy_user where user_account=#{username} and password=#{password}
    </select>





   <select id="queryUsers" resultMap="BaseUserMap">
       select * from sy_user <where>
       <if test="userAccount!=null and userAccount!=''">
           and user_account like concat("%",#{userAccount},"%")
       </if>
   </where>
   </select>

    <delete id="deletUser" >
        delete from sy_user where user_id=#{userId}
    </delete>

    <insert id="addUser" >
        insert into sy_user(user_account,password,sex,headimageurl,email,mobile_number,create_time)
        values(#{userAccount},#{password},#{sex},#{headImageUrl},#{email},#{mobileNumber},#{createTime})
    </insert>

    <delete id="deletUsers" >
        delete  from  sy_user where user_id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getUser" parameterType="user00" resultMap="BaseUserMap">

        select *from sy_user where user_id=#{userId}

    </select>
    <update id="update" parameterType="user" >
        update sy_user <set>
<if test="userAccount!=null and userAccount!=''">
    user_Account=#{userAccount}
</if>
        <if test="sex!=null and sex!=''">
            sex=#{sex}
        </if>
        <if test="mobileNumber!=null and mobileNumber!=''">
            mobile_Number=#{mobileNumber}
        </if>
        <if test="email!=null and email=''">
            email=#{email}
        </if>
    </set>
        where user_id=#{userId}
    </update>

    <select id="seletUserCount" resultType="int">
        select count(*) from sy_user
        <where>
            <if test="uname!=null and uname!=''">
                user_account like "%" #{uname} "%"

            </if>
        </where>
    </select>
 <select id="seletUserPage" resultMap="BaseUserMap">
     select * from sy_user
     <where>
         <if test="uname!=null and uname!=''">
             user_account like "%" #{uname} "%"
         </if>
     </where>
        limit #{begin},#{limt}
 </select>
    <update id="updateHead" >
        update sy_user set headimageurl=#{url}
        where user_id=#{userId}

    </update>


</mapper>
